.contactsListEl {
    display: flex;
    align-items: center;



}

.deleteButton {
    height: 40px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;

}